.web{
    display: flex;
    flex: 1;
    align-items: center;
}
.web-option{
    font-size: 20px;
    margin-right: 16px;
    font-weight: 700;
    scroll-margin-top: 100px;
}

.web-option a{
    text-decoration: none;
    color: blue;
    display: flex;
    align-items: center;
}

.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.web-option:last-child {
    margin-right: 0px;
}

#about {
    scroll-margin-top: 100px;
  }

#work {
    scroll-margin-top: 80px;
}

#projects {
    scroll-margin-top: 100px;
}

/* #contact {
    scroll-margin-top: 100px;
} */