.main {
    padding-bottom: 48px;
}
.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    height: 420px;
}
.main-info {
    font-size: 24px;
}
.info-name {
    color: blue;
    font-size: 32px;
}

@media only screen and (max-width: 720px) {
    .main-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture {
        height: 280px;
    }
    .main-info {
        font-size: 20px;
    }
    .info-name {
        font-size: 26px;
    }
}