.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.projects-container {
  width: 55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.projects-content h1 {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--color-accent);
}

.projects-big {
  background: var(--gradient-projects);
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;

  transition-duration: 0.2s;
}

.projects-big img {
  height: 13rem;
  border-radius: 10px;
}

.projects-big:hover {
  transform: translateY(-5px);
  transition-duration: 0.2s;
}

.projects-big-details {
  display: flex;
  padding: 1rem;
  margin: 0 0.5rem;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.projects-big-details-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.projects-big-details-header h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-text-subtitle);
}

.projects-details-header-icons {
  display: flex;
  margin-top: 0.25rem;
}

.projects-details-header-icons img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
  margin-left: 1rem;
  align-items: center;
}

.projects-details-header-icons:hover a {
  filter: brightness(300%);
  transition-duration: 0.2s;
}

.projects-big-details-content {
  margin-top: 0.75rem;
  width: 85%;
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-main);
}

.projects-big-details-tags {
  margin-top: 0.75rem;
  font-family: var(--font-tags);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: var(--color-text-tags);
}

.projects-tiles {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.projects-small-wrapper {
  width: 49%;
}

.projects-small {
  background: var(--gradient-projects);
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;

  transition-duration: 0.2s;
}

.projects-small:hover {
  transform: translateY(-5px);
  transition-duration: 0.2s;
}

.projects-small-details-content {
  margin-top: 0.75rem;
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-main);
}

.projects-button {
  margin: 0.75rem 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projects-button-wrapper {
  border: 1px solid var(--color-accent);
  box-sizing: border-box;
  border-radius: 5px;
}

.projects-button-wrapper button {
  padding: 0.5rem 1rem;
  color: var(--color-accent);

  font-family: var(--font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  border: 0;
  outline: none;
  background: none;
  cursor: pointer;
}
