@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
  --font-family: "Titillium Web", sans-serif;
  --font-tags: "Jetbrains Mono", monospace;

  --color-background: #101e38;
  --color-border: #11203d;
  --color-accent: #7effd1;

  --color-text-main: #7788aa;
  --color-text-title: #dee5f3;
  --color-text-subtitle: #97abd4;
  --color-text-subtitle-alt: #a3b3d4;
  --color-text-tags: #436cbe;

  --gradient-projects: linear-gradient(
    96.66deg,
    #1c2543 30.37%,
    #13273a 88.77%
  );
}
