@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap);
:root {
  --font-family: "Titillium Web", sans-serif;
  --font-tags: "Jetbrains Mono", monospace;
  --color-background: #101e38;
  --color-border: #11203d;
  --color-accent: #7effd1;
  --color-text-main: #78a;
  --color-text-title: #dee5f3;
  --color-text-subtitle: #97abd4;
  --color-text-subtitle-alt: #a3b3d4;
  --color-text-tags: #436cbe;
  --gradient-projects: linear-gradient(
    96.66deg,
    #1c2543 30.37%,
    #13273a 88.77%
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background: var(--color-background);
}
a {
  color: inherit;
  text-decoration: none;
}
.divider {
  background: var(--color-text-main);
  height: 4px;
  margin: 1rem 0 1.5rem;
  width: 36px;
}
.about {
  height: 40rem;
  justify-content: center;
}
.about,
.about-container {
  align-items: center;
  display: flex;
}
.about-container {
  justify-content: space-between;
  width: 55rem;
}
.about-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-content h1 {
  align-items: center;
  color: var(--color-accent);
  display: flex;
  font-size: 24px;
  line-height: 18px;
}
.about-content h1,
.about-content p {
  font-family: var(--font-family);
  font-weight: 400;
}
.about-content p {
  color: var(--color-text-main);
  font-size: 16px;
  line-height: 20px;
  width: 30rem;
}
.about-image img {
  width: 15rem;
}
.experiences {
  align-items: center;
  display: flex;
  height: 40rem;
  justify-content: center;
}
.experiences-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 55rem;
}
.experiences-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.experiences-content h1 {
  font-weight: 400;
  line-height: 18px;
}
.experiences-content h1,
.experiences-details h1 {
  align-items: center;
  color: var(--color-accent);
  display: flex;
  font-family: var(--font-family);
  font-size: 24px;
}
.experiences-details h1 {
  font-weight: 600;
  line-height: 35px;
}
.experiences-details h2 {
  color: var(--color-text-subtitle-alt);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.experiences-details p {
  margin-top: 1rem;
}
.experiences-details p,
.experiences-details ul {
  color: var(--color-text-main);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 30rem;
}
.experiences-details ul {
  margin: 1rem 0 0 1.3rem;
}
.experiences-timeline {
  display: flex;
}
.experiences-timeline,
.experiences-wrapper {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.experiences-bar {
  background: var(--color-text-main);
  border-radius: 30px;
  height: 306px;
  left: 46%;
  position: absolute;
  top: 0;
  width: 6px;
  z-index: -1;
}
.experiences-orbs {
  z-index: 1;
}
.experiences-orbs img {
  height: 70px;
  width: 70px;
}
.experiences-droplet-container {
  position: relative;
}
.experiences-droplet-overlay {
  z-index: 1;
}
.experiences-droplet-orb {
  position: absolute;
  top: 0;
  z-index: -1;
}
.experiences-orb-wrapper {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.experiences-orb-time {
  margin-left: -10rem;
  position: absolute;
  top: 1.6rem;
}
.experiences-orb-icon {
  cursor: pointer;
  transition-duration: 0.2s;
}
.experiences-orb-icon:hover {
  -webkit-transform: scale(125%);
  transform: scale(125%);
  transition-duration: 0.2s;
}
.experiences-orb-wrapper h2 {
  align-items: center;
  color: var(--color-text-title);
  display: flex;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}
.footer {
  background-color: var(--color-border);
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
}
.footer,
.footer-wrapper {
  align-items: center;
  display: flex;
}
.footer-wrapper {
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
}
.footer-wrapper p {
  align-items: center;
  color: var(--color-text-title);
  display: flex;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}
.footer-icons {
  margin-top: 0.5rem;
}
.footer-icons img {
  height: 1.5rem;
  margin: 0 0.25rem;
  width: 1.5rem;
}
.landing {
  height: 45rem;
  justify-content: center;
}
.landing,
.landing-container {
  align-items: center;
  display: flex;
}
.landing-container {
  justify-content: space-between;
  width: 55rem;
}
.landing-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.landing-content-intro {
  color: var(--color-accent);
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
}
.landing-content h1 {
  color: var(--color-text-title);
  font-size: 80px;
  line-height: 90px;
  margin-left: -0.2rem;
}
.landing-content h1,
.landing-content h2 {
  font-family: var(--font-family);
  font-weight: 600;
}
.landing-content h2 {
  color: var(--color-text-subtitle);
  font-size: 48px;
  line-height: 60px;
}
.landing-content-description {
  color: var(--color-text-main);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0.5rem 0;
  width: 30rem;
}
.landing-content-icons {
  margin: 0.5rem 0;
}
.landing-content-icons img {
  margin-right: 0.5rem;
  transition-duration: 0.2s;
  width: 1.5rem;
}
.landing-content-icons:hover img {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  -webkit-transform: scale(125%);
  transform: scale(125%);
  transition-duration: 0.2s;
}
.landing-image img {
  width: 15rem;
}
.navigation_bar {
  align-items: center;
  background-color: var(--color-border);
  display: flex;
  height: 85px;
  justify-content: space-between;
  width: 100%;
}
.navigation_bar-links {
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}
.navigation_bar-logo {
  margin: 0 1.5rem;
}
.navigation_bar-logo img {
  height: 4rem;
}
.navigation_bar-links_components {
  display: flex;
  flex-direction: row;
}
.navigation_bar-links_components p {
  align-items: center;
  color: var(--color-accent);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 1rem;
  text-align: center;
}
.navigation_bar-links-resume {
  border: 2px solid #7effd1;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 1rem;
}
.navigation_bar-links-resume button {
  background: none;
  border: 0;
  color: var(--color-accent);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  outline: none;
  padding: 0.5rem 1rem;
}
.projects {
  height: 40rem;
  justify-content: center;
}
.projects,
.projects-container {
  align-items: center;
  display: flex;
}
.projects-container {
  justify-content: space-between;
  width: 55rem;
}
.projects-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.projects-content h1 {
  align-items: center;
  color: var(--color-accent);
  display: flex;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
}
.projects-big {
  align-items: flex-start;
  background: var(--gradient-projects);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  transition-duration: 0.2s;
  width: 100%;
}
.projects-big img {
  border-radius: 10px;
  height: 13rem;
}
.projects-big:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition-duration: 0.2s;
}
.projects-big-details {
  flex-direction: column;
  margin: 0 0.5rem;
  padding: 1rem;
}
.projects-big-details,
.projects-big-details-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.projects-big-details-header h1 {
  color: var(--color-text-subtitle);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.projects-details-header-icons {
  display: flex;
  margin-top: 0.25rem;
}
.projects-details-header-icons img {
  align-items: center;
  border-radius: 0;
  height: 1.5rem;
  margin-left: 1rem;
  width: 1.5rem;
}
.projects-details-header-icons:hover a {
  -webkit-filter: brightness(300%);
  filter: brightness(300%);
  transition-duration: 0.2s;
}
.projects-big-details-content {
  color: var(--color-text-main);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0.75rem;
  width: 85%;
}
.projects-big-details-tags {
  align-items: center;
  color: var(--color-text-tags);
  display: flex;
  font-family: var(--font-tags);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0.75rem;
}
.projects-tiles {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}
.projects-small-wrapper {
  width: 49%;
}
.projects-small {
  align-items: flex-start;
  background: var(--gradient-projects);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  transition-duration: 0.2s;
}
.projects-small:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition-duration: 0.2s;
}
.projects-small-details-content {
  color: var(--color-text-main);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0.75rem;
}
.projects-button {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
  width: 100%;
}
.projects-button-wrapper {
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  box-sizing: border-box;
}
.projects-button-wrapper button {
  background: none;
  border: 0;
  color: var(--color-accent);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=main.e8f1b81a.css.map*/
