.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  background-color: var(--color-border);
}

.footer-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-title);
}

.footer-icons {
  margin-top: 0.5rem;
}

.footer-icons img {
  margin: 0 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}
